<!DOCTYPE html>
<html lang="en" >
	<head>
		<meta charset="UTF-8">
		<title>Calibrate</title>
		<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
		<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css'>
		<link rel="stylesheet" href="css/style.css">
		<link rel="icon" href="favicon.ico">
		<script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="pnwd2f9n0x88meq"></script>
	</head>
	<body>
		<div ng-app='example' ng-controller="ExampleCtrl">
			<div class='image-builder-container container-fluid'>
				<!-- <div ng-if="fabric.isLoading()" class="image-loading">
					<div>Loading</div>
				</div> -->
				<div class="row">
					<div class="col-sm-2 sticky">
						<div class="panel panel-default">
							<div class="panel-heading">Steps</div>
							<div class="panel-body">
								<ul style="list-style-type: decimal;padding-left: 14px;">
									<li>Select Image</li>
									<li ng-show="currentStep!=2 && currentStep!=4">Calibrate: Click two points as accurately as possible from one depth marker to next and enter the distance</li>
									<li ng-show="currentStep==0">Measure the jet area</li>
									<li ng-show="currentStep==1">Measure the VC</li>
									<li ng-show="currentStep==2">Calibrate: Click on any two Y-axis markers and enter the value of velocity</li>
									<li ng-show="currentStep==2">Measure the peak velocity</li>
									<li ng-show="currentStep==3">Measure: Select the peak PISA frame and measure the PISA radius</li>
									<li ng-show="currentStep==3">Enter the Va as seen from the top left of the image.</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-sm-8">
						<div class='image-builder'>	
							<canvas id="c"></canvas>								
						</div>
						<div class="row" align="center">
							<div class='btn-group'>
								<button class='btn btn-default' id='choosefile'>
									<i class='fa fa-dropbox'></i>
									<div class='clearfix'></div>
									Choose file
								</button>
								<button ng-show="mediaMode == 1" class='btn btn-default' onClick="sframe(0)">
									<i class='fa fa-step-backward'></i>
									<div class='clearfix'></div>
									Backward
								</button>
								<button ng-show="mediaMode == 1" class='btn btn-default' id="play_pause">
									<i class='fa fa-play'></i>
									<div class='clearfix'></div>
									Play/Pause
								</button>
								<button ng-show="mediaMode == 1" class='btn btn-default' onClick="sframe(1)">
									<i class='fa fa-step-forward'></i>
									<div class='clearfix'></div>
									Forward
								</button>
								<button class='btn' id="clear" ng-show="tool.mediaFile">
									<i class='fa fa-refresh'></i>
									<div class='clearfix'></div>
									Clear
								</button>
								<button class='btn' data-toggle="modal" data-target=".bd-example-modal-lg">
									<i class='fa fa-question'></i>
									<div class='clearfix'></div>
									Help
								</button>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-md-4">
							</div>
							<div class="col-md-4">
								<div class="form-group input-group" ng:class="{'has-error':tool.n}" ng-show="tool.lineDistance"><!--  -->
									<span class="input-group-addon">Calibrate</span>
									<input type="number" class="form-control" ng-model="tool.xy">
									<span class="input-group-btn">
										<button class="btn btn-default" ng-if="!tool.n" type="button" ng-click="calibrate()">Save</button>
										<button class="btn btn-default btn-danger" ng-if="tool.n" type="button" ng-click="resetTool('line')">Unsave</button>
									</span>
								</div>								
								<div class="form-group input-group" ng:class="{'has-error':next}" ng-show="tool.m"><!--  -->
									<span class="input-group-addon">Measure</span>
									<input type="number" class="form-control" ng-model="tool.m" id="m" placeholder="m">
									<span class="input-group-btn">
										<button class="btn btn-default" ng-if="!next" type="button" ng-click="measure()">Save</button>
										<button class="btn btn-default btn-danger" ng-if="next" type="button" ng-click="resetTool('polygon')">Unsave</button>
									</span>
								</div>
								<div class="form-group input-group" ng-show="currentStep == 3 && tool.m"><!--  -->
									<span class="input-group-addon">Va</span>
									<input type="number" class="form-control" ng-model="tool.va" id="va" placeholder="Va">									
								</div>
								<div class="form-group input-group" ng-show="currentStep == 3 && tool.eroa"><!--  -->
									<span class="input-group-addon">EROA</span>
									<input type="number" class="form-control" ng-model="tool.eroa" id="eroa" placeholder="eroa">									
								</div>
								<button type="button" ng-show="next && currentStep!=4" class="btn btn-success btn-block" ng-click="save();">SAVE & NEXT</button>
								<button type="button" ng-show="done" class="btn btn-success btn-block" ng-click="reset();">DONE</button>
							</div>
							<div class="col-md-4">
							</div>
						</div>
					</div>
					<div class="col-sm-2 sticky">						
						<div class="btn-group-vertical btn-block">
							<button ng-repeat="(k,step) in steps" class="btn btn-default step-btn" ng:class="{'btn-success':(currentStep == k)}" ng-click="moveTo(k)">
								<i class="fa" ng-class="(step.status)?'fa-check-square':'fa-square-o'"></i> {{step.name}}
							</button>
						</div>						
					</div>
				</div>
				<br>	
				<h3>Result</h3>				
				<div class="panel panel-default">
				  	<!-- Default panel contents -->				  
				  	<table class="table table-bordered">
						<thead>
							<tr>
								<th>Step</th>
								<th>Distance (in pixel)</th>
								<th>xy (Calibrate)</th>
								<th>n (Distance / xy)</th>
								<th>Area (in pixel)</th>
								<th>m (Measure)</th>
								<th>Va</th>
								<th>PISA</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="(i,step) in steps">
								<td>{{step.name}}</td>
								<td>{{step.data.lineDistance || '-'}}</td>
								<td>{{step.data.xy || '-'}}</td>
								<td>{{step.data.n || '-'}} <strong ng-if="step.data.n && i == 3">(r)</strong></td>
								<td>{{step.data.areaMeasured || '-'}}</td>
								<td>{{step.data.m || '-'}} <strong ng-if="step.data.m && i == 2">(Vmax)</strong></td>
								<td>{{step.data.va || '-'}}</td>
								<td>{{step.data.eroa || '-'}}</td>
							</tr>
						</tbody>
				  	</table>
				</div>
				<!-- <pre>{{jetarea | json}}</pre>			 -->
				<div class="row hide" align="center">
					
					<input type="number" ng-model="currentStep" id="currentStep" placeholder="currentStep">
					<input type="number" ng-model="mediaMode" id="mediaMode" placeholder="mediaMode">
					<input type="text" ng-model="toolMode" id="toolMode" placeholder="toolMode">
					
					<input type="text" ng-model="tool.mediaFile" id="mediaFile" placeholder="mediaFile">
					<input type="number" ng-model="tool.lineDistance" id="lineDistance" placeholder="lineDistance">
					<input type="number" ng-model="tool.n" id="n" placeholder="n">
					<input type="number" ng-model="tool.areaMeasured" id="areaMeasured" placeholder="areaMeasured">
					<input type="number" ng-model="tool.vmax" id="vMax" placeholder="vMax">
					<input type="number" ng-model="tool.r" id="r" placeholder="r">
					

					<!-- <input type="number" ng-model="jetarea.distance" id="jetareaDistance" placeholder="jetareaDistance">
					<input type="number" ng-model="jetarea.n" id="jetareaN" placeholder="jetareaN">
					<input type="number" ng-model="jetarea.measure" id="jetareaMeasure" placeholder="jetareaMeasure">
					<input type="number" ng-model="jetarea.area" id="jetareaArea" placeholder="jetareaArea"> -->
				</div>
			</div>
			<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							<h4 class="modal-title" id="exampleModalLabel">Help <span class="fa fa-question"></span></h4>							
						</div>
						<div class="modal-body">
							
						</div>					
					</div>
				</div>
			</div>							
			<!-- HIDDEN ELEMENTS -->
			<div class="hide">
				<video id="dropbox_video" muted>
					<source src="">
				</video>
			</div>
			<!-- <div style="margin-bottom: 10px;" align="center">
				Powered by <a href="https://www.cgt.co.in" target="_blank">C.G. Technosoft Pvt. Ltd.</a>
			</div> -->
		</div>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
		<!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.4.8/fabric.min.js'></script> -->
		<script src='js/fabric.min.js'></script>
		<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js'></script>
		<script src='js/fabric.js'></script>
		<script src='js/fabricCanvas.js'></script>
		<script src='js/fabricConstants.js'></script>
		<script src='js/fabricDirective.js'></script>
		<script src='js/fabricDirtyStatus.js'></script>
		<script src='js/fabricUtilities.js'></script>
		<script src='js/fabricWindow.js'></script>
		<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
		<script  src="js/index.js"></script>
		<script  src="js/custom.js"></script>
		<script type="text/javascript" src="js/polygon.js"></script>
	</body>
</html>